.light-mode, .dark-mode {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 15px;
    {{/* float: right; */}}
}

.light-mode {
    background-color: grey;
    color: black;
}

.dark-mode {
    color: white;
    background-color: black;
}
