.light {
    background: white;
    color: black;
}

.dark {
    background: black;
    color: white;
}

button {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

{{/* body {
    background-color: blue;
} */}}