* {
    text-align: center;
}

h1 {
}

p {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    {{/* padding: 20px; */}}
}

table {

}

{{/* header, body {
    background-color: white;
} */}}